/* header, main, section, footer */

/* Color Palette
01. #E36822 - orange
02. white?
03. black?
04. #7F7967 - steal
05. #A2F4E4 - action buttons and links
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 100svw;
  min-height: 100svh;
}
