* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

@font-face {
  font-family: "Nasalization";
  src: url("Nasalization\ Rg.otf") format("truetype");
}

:root {
  background-color: rgb(6, 6, 6);
}

h1 {
  font-family: "Nasalization", sans-serif;
  color: #ffffff;
  background-color: #0c0c0c00;
  letter-spacing: 50px;
  text-shadow: 0 0 5px #ff5e00, 0 0 10px #d14600, 0 0 20px #ffffff,
    0 0 10px #ff4800;
  justify-content: flex-start;
  margin: 30px 70px;
  font-size: 55px;
}

h2 {
  color: #df5611;
  padding-top: 70px;
}

.h2 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 40px;
  color: #ffa500;
  text-shadow: 0 0 5px #ff5e00, 0 0 10px #d14600;
}

html,
body {
  min-height: 100vh;
  color: rgb(0, 0, 0);
  font-family: "Nasalization", sans-serif;
}

.hero {
  background-image: url("images/planet-volumes-awYEQyYdHVE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 00px 0px 10px 20px;
  margin-left: 150px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 150px;
  background-color: rgba(11, 11, 11, 0.756);
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7rem;
  padding-top: 150px;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #ff5e00, 0 0 10px #d14600, 0 0 20px #ffffff,
    0 0 10px #ff4800;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.navbar li a:hover {
  animation: pulse 1s infinite;
  background-color: #ffffff;
  border-color: rgb(255, 255, 255);
  color: #e04700;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(251, 249, 249, 0.848);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(248, 247, 247, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(249, 249, 249, 0.867);
  }
}

#article1 {
  display: flex;
  gap: 10px;
}

main {
  padding-top: 30px;
  padding-left: 20px;
  margin-left: 150px;
  width: 80%;
  flex: 1;
  font-size: larger;
  color: #ffffff;
}

#home {
  max-width: 40%;
  color: white;
  letter-spacing: 3px;
  line-height: 1.4;
  font-size: larger;
  padding-top: 50px;
  padding-left: 10px;
}

.info {
  letter-spacing: 1px;
  width: 70%;
}

.måner {
  letter-spacing: 1px;
  width: 40%;
}

#bilde1 {
  width: 400px;
}

#måneliste ul {
  list-style: none;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 25px;
}

#måneliste li {
  cursor: pointer;
  color: #ffa500;
  margin: 0.5rem 0;
  font-weight: bold;
  text-shadow: 0 0 5px #ff5e00, 0 0 10px #d14600;
}

.måninfo {
  color: #ffffff;
  margin: 0.5rem 1rem;
  font-size: 20px;
}

#images {
}

img {
  width: 200px;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 1rem;
  color: rgb(244, 70, 7);
  font-size: small;
  letter-spacing: 12px;
}
